@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins";
}

main{
    min-width: 100vh;
    max-width: 100vh;
    padding: 20px;
}

.users{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 12px;
    border-radius: 27px;
    font-size: .8rem;
    box-shadow: 0 15px 20px -20px rgba(0,0,0,.45);
    transition: .5s;
}

.user h2{
    font-size: 1.2rem;
}

.user img{
    width: 80px;
    border-radius: 50%;
}